@model IEnumerable<TMDT.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider.ProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.PublisherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublisherDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.ProviderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublisherDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
        </td>
    </tr>
}

</table>
