@model IEnumerable<TMDT.Models.Provider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProviderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProviderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProviderID })
        </td>
    </tr>
}

</table>
